<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }} | {{ site.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ page.description | default: site.description }}">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3910332370256182"
     crossorigin="anonymous"></script>
    {{ content_for_head }}
  </head>
  <body>
    <header>
      <h1><a href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
      <p>{{ site.description }}</p>
    </header>

    <main>
      {{ content }}
    </main>

    <footer>
      <p>&copy; {{ site.time | date: '%Y' }} {{ site.title }}.</p>
    </footer>
  </body>
</html>
